### Homework

Before you begin, always remember to import the necessary libraries.

In [1]:
import numpy as np
import pandas as pd

In [34]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

#### Standard Exercises

1. Given the follwing dictionary `sales_dict`, create a new `pandas` DataFrame from it and assign it to an object named `sales`. Show the `sales` DataFrame.

In [2]:
# do not delete this cell
sales_dict = {'categories': ['Goods', 'Services', 'Experiences'],
              'units_sold': [140, 215, 95], 
              'total_revenue': [8400, 5375, 14250],
              'cost_per_unit': [35, 10, 100]}

In [5]:
sales = pd.DataFrame(sales_dict)
sales.head()

    categories  units_sold  total_revenue  cost_per_unit
0        Goods         140           8400             35
1     Services         215           5375             10
2  Experiences          95          14250            100

2. In the cells below show the following features of the `sales` DataFrame: 

- the object's data type
- the shape
- the column's data type

In [12]:
type(sales)

pandas.core.frame.DataFrame

In [13]:
sales.shape

(3, 4)

In [31]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   categories     3 non-null      object
 1   units_sold     3 non-null      int64
 2   total_revenue  3 non-null      int64
 3   cost_per_unit  3 non-null      int64
 4   total_cost     3 non-null      int64
 5   total_margin   3 non-null      int64
dtypes: int64(5), object(1)
memory usage: 272.0+ bytes

3. Calculate the total number of `units_sold` across all categories

In [22]:
sum(sales['total_revenue'])

28025

4. Add a new column to the DataFrame that multiplies `units_sold` by `cost_per_unit` and call it `total_cost`.

In [23]:
sales["total_cost"] = sales["units_sold"] * sales["cost_per_unit"]
sales

    categories  units_sold  total_revenue  cost_per_unit  total_cost
0        Goods         140           8400             35        4900
1     Services         215           5375             10        2150
2  Experiences          95          14250            100        9500

5. Add another column called `total_margin` where you show revenues net of costs. Then sort the dataset in descending order of `total_margin`. Which category generated the highest margins?

In [30]:
sales["total_margin"] = sales["total_revenue"] - sales["total_cost"]
sales.sort_values(by=["total_margin"], ascending = False)
sales

,categories,units_sold,total_revenue,cost_per_unit,total_cost,total_margin
0,Goods,140,8400,35,4900,3500
1,Services,215,5375,10,2150,3225
2,Experiences,95,14250,100,9500,4750

6. The below code reads in the tips dataset from this lessons `data` folder (read a description of this dataset [here](https://vincentarelbundock.github.io/Rdatasets/doc/reshape2/tips.html)) and assigns it to an object called `tips`. Call the dataframe to take a quick look at the data

In [35]:
tips = pd.read_csv("/content/gdrive/MyDrive/Sander Mulder/python folder/Pandas 1/data/tips.csv")

In [37]:
tips.head(8)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4

7. How many observations there are for each table `sex`?

In [40]:
tips["sex"].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

8. Calculate the average tip amount for males and females. Who tips the most?

In [49]:
# male tips
male_tips = tips[tips["sex"] == "Male"]
a = male_tips["tip"].mean()

In [48]:
# female tips
female_tips = tips[tips["sex"] == "Female"]
b = female_tips["tip"].mean()

print("Male:", a, "\tFemale:", b)

Male: 3.0896178343949043 	Female: 2.8334482758620685

9. The amount of a tip will change depending on the total amount spent for the meal, so we should look at relative values, not absolute. Create a new variable `tip_pct` that calculates the percentage of the tip relative to the total bill amount.

In [51]:
tips["tip_pct"] = tips["tip"] / tips["total_bill"] * 100
tips.head(8)

   total_bill   tip     sex smoker  day    time  size    tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2   5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3  16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3  16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2  13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4  14.680765
5       25.29  4.71    Male     No  Sun  Dinner     4  18.623962
6        8.77  2.00    Male     No  Sun  Dinner     2  22.805017
7       26.88  3.12    Male     No  Sun  Dinner     4  11.607143

10. Calculate the average tip percentage for males and females. Who tips the most? Think about this inversion of outcome, what does it tell you?

In [52]:
# male tips
male_tips = tips[tips["sex"] == "Male"]
a = male_tips["tip_pct"].mean()

In [53]:
# female tips
female_tips = tips[tips["sex"] == "Female"]
b = female_tips["tip_pct"].mean()

print("Male:", a, "\tFemale:", b)

Male: 15.765054700429742 	Female: 16.649073632892478

It tells us that males eat for more money and tip a little lower than females. Females tend to spend less on food and more on the tip.

If you want <font color='red'>**to exercise more**</font> on pandas Series and DataFrames, check out [these 101 exercises](https://www.machinelearningplus.com/python/101-pandas-exercises-python/) with (hidden) solutions *(note: the first exersises are on series, then they move to DataFrames and exersises on `.read_csv()` start from #38. Also, note that we haven't covered all of those topics yet, but if you want, you're encouraged to explore them.)*

#### Advanced Exercises

Let's continue working with the tips dataset.

In [54]:
tips

     total_bill   tip     sex smoker   day    time  size    tip_pct
0         16.99  1.01  Female     No   Sun  Dinner     2   5.944673
1         10.34  1.66    Male     No   Sun  Dinner     3  16.054159
2         21.01  3.50    Male     No   Sun  Dinner     3  16.658734
3         23.68  3.31    Male     No   Sun  Dinner     2  13.978041
4         24.59  3.61  Female     No   Sun  Dinner     4  14.680765
..          ...   ...     ...    ...   ...     ...   ...        ...
239       29.03  5.92    Male     No   Sat  Dinner     3  20.392697
240       27.18  2.00  Female    Yes   Sat  Dinner     2   7.358352
241       22.67  2.00    Male    Yes   Sat  Dinner     2   8.822232
242       17.82  1.75    Male     No   Sat  Dinner     2   9.820426
243       18.78  3.00  Female     No  Thur  Dinner     2  15.974441

[244 rows x 8 columns]

1. How many smokers and non-smokers are there in the dataset?

In [55]:
tips["smoker"].value_counts()

No     151
Yes     93
Name: smoker, dtype: int64

2. Calculate the average bill value for smokers and non-smokers. Did smokers differ from non-smokers in how much they spent on their bill?

In [59]:
# smokers bill
smoker = tips[tips["smoker"] == "Yes"]
a = smoker["total_bill"].mean()

print(a)

20.756344086021507

In [60]:
# Non-smokers bill
non_smoker = tips[tips["smoker"] == "No"]
b = non_smoker["total_bill"].mean()

print("Smokey:", a, "\tLess_Smokey:", b)

Smokey: 20.756344086021507 	Less_Smokey: 19.18827814569536

3. What was the most common day that smokers and non-smokers chose to go out to eat?

In [65]:
# Smokers
d_smok = tips[tips["smoker"] == "Yes"]
d_smok["day"].value_counts()

Sat     42
Sun     19
Thur    17
Fri     15
Name: day, dtype: int64

In [66]:
# Non-smokers
d_n_smok = tips[tips["smoker"] == "No"]
d_n_smok["day"].value_counts()

Sun     57
Sat     45
Thur    45
Fri      4
Name: day, dtype: int64

4. Create two new dataframes, one called `smokers` and one called `non_smokers` that store the data for smokers and non-smokers

In [67]:
# they were already made for the previous questions
non_smoker.head()

   total_bill   tip     sex smoker  day    time  size    tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2   5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3  16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3  16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2  13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4  14.680765

5. Research the pandas `groupby` method [(see the docs here)](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html). Use this method with your `smokers` and `non_smokers` dataframes to show the average bill amount for each day of the week

In [70]:
# Smokers
smoker.groupby(['day']).mean()

      total_bill       tip      size    tip_pct
day
Fri    16.813333  2.714000  2.066667  17.478305
Sat    21.276667  2.875476  2.476190  14.790607
Sun    24.120000  3.516842  2.578947  18.725032
Thur   19.190588  3.030000  2.352941  16.386327

In [71]:
# Non-smokers
non_smoker.groupby(['day']).mean()

      total_bill       tip      size    tip_pct
day
Fri    18.420000  2.812500  2.250000  15.165044
Sat    19.661778  3.102889  2.555556  15.804766
Sun    20.506667  3.167895  2.929825  16.011294
Thur   17.113111  2.673778  2.488889  16.029808